
/__private/*

/script/dest/*
/script/fe.py


/speech.melspectrogram/*
!/speech.melspectrogram/BP-S1-A.txt

/speech.mfcc/*
!/speech.mfcc/BP-S1-A.txt

/speech.prosody/*
!/speech.prosody/BP-S1-A.txt

/OpenFace.csv/*
!/OpenFace.csv/BP-S1-A.csv

/IMU/*